body {
  min-width: 400px; /* your desired width */
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}
#footertext {
  text-align: center;
}
#titletext {
  text-align: center;
  font-weight: bolder;
}